<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Index Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Seattle Mariners Baseball Players</h1>
    <ul>
    <% players.forEach(function(player, i) { %>
      <li><%= player.name %> plays <%= player.position %><a href="/players/<%= i %>">Delete</a></li>
    <% }); %>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>