<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>New Page</title>
  </head>
  <body>
    <h1>Please add a player to the Seattle Mariners</h1>
    <form method="POST" action="/players">
      <input type="text" name="name" placeholder="Edgar Martinez" /><br/>
      <input type="text" name="position" placeholder="Third Base" /><br/>
      <input type="submit" value="Add!" />
    </form>
  </body>