<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Show Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>One Seattle Mariners Baseball Player</h1>
    <h3><%= player.name %> plays <%= player.position %></h3>
  </body>